<%- include('partials/header') -%>

    <div class="home-container">
        <section class="home-header">
            <div>
                <h1>Welcome to Bet On Me!</h1>
                <p>Bet On Me helps you build lasting habits through accountability and friendly competition. Join a group with friends, set your goals, and put money on the line. Watch everyone's progress and stay committed together.</p>
            </div>
            <!-- <img src="#" alt="logo of bet on me"> -->
        </section>
        <section class="home-body">
            <section class="join container">

                <h1>Join a group</h1>
                <p>Please enter your group code</p>

                <form action="/post/joinCluster" enctype="multipart/form-data" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" name="code" id="code" placeholder="XH708DQWA3" required>
                        <button type="submit" class="btn btn-primary">Join</button>
                    </div>
                </form>

            </section>

            <section class="create container">

                <h1>Make your own group</h1>
                <p>And invite your friends!</p>
                <!-- button to switch to a form -->
                <button type="button" class="btn btn-secondary" id="showFormBtn">Get started!</button>

                <form action="/post/createCluster" method="POST" id="createGroupForm" style="display: none;">
                    <p class="max-users">8 Users Max</p>
                    <div class="form-group">
                        <label for="title" class="form-label">Group name</label>
                        <input type="text" class="form-control" name="title" id="title"
                            placeholder="Name your group" required>
                    </div>

                    <div class="form-group mt-3">
                        <label for="challengeDate" class="form-label">Challenge end date</label>
                        <input type="date" class="form-control" name="challengeDate" id="challengeDate" required>
                    </div>

                    <button type="submit" class="btn btn-outline-primary mt-3" id="sendInviteBtn">Create Group</button>
                </form>
            </section>

        </section>
    </div>
    <script src="js/main.js"></script>

    <% if (messages.lateJoin && messages.lateJoin[0].includes('full')) { %>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const maxUsersModal = new bootstrap.Modal(
        document.getElementById("maxUsersModal")
      );
      maxUsersModal.show();
    });
  </script>
<% } %>


<%- include('partials/footer') -%>
