<%- include('partials/header') -%>

  <main class="landing-page-main">
      <div class="container my-5">
        <div
          class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" 
        >
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">
              Tired of setting goals you never actually follow through on?
            </h1>
            <p class="lead">
              Bet On Me makes your habits real by putting money on the line.
              Commit to your goals, join group challenges, compete with friends, and unlock the version of you that finally sticks to it.
              Fail your habits? Pay up.
              Crush them? Keep your cash — and maybe win your friends’.
            </p>
            <div
              class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
            >
              <button
                type="button"
                class="btn btn-lg px-4 me-md-2 fw-bold" style="background-color: rgb(41, 188, 186);"
              >
                <a href="#" type="button" data-bs-toggle="modal" class="join-btn" data-bs-target="#signupModal">
                  Join
                </a>
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary btn-lg px-4 gold-btn"
              >
                About
                <!-- I want this to lead to the bottom half of the page, I will make an about section -->
              </button>
              </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img
              class="rounded-lg-3 gold-border"
              src="/imgs/mainHeroImg.jpg" 
              alt=""
              width="450"
            />
          </div>
        </div>
      </div>
  </main>
  

<%- include('partials/footer') -%>

<!-- Load modals back to screen to show validation errors -->
<script>
  <% if (locals.messages && locals.messages.modal) { %>
    setTimeout(() => {
      new bootstrap.Modal(document.getElementById('<%= locals.messages.modal[0] %>Modal')).show();
    }, 100);
  <% } %>
</script>
