<%- include('partials/header') -%>

  <main class="landing-page-main">
    <div class="landing-page-top">
      <div class="row pb-0 pe-lg-0 pt-2 align-items-center">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold bright">
            Tired of setting goals you never follow through on?
          </h1>
          <p class="lead">
            <strong>Bet On Me</strong> keeps you accountable! Fail your habits? Pay up.
            Crush them? Keep your cash - and maybe win your friends’.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <button type="button" class="btn btn-warning btn-hero">
              <a href="#" type="button" data-bs-toggle="modal" class="join-btn" data-bs-target="#signupModal">
                Join
              </a>
            </button>
            <button type="button" class="btn btn-warning btn-hero"
            onclick="location.href='#about-section'"
            >              
              About
              <!-- I want this to lead to the bottom half of the page, I will make an about section -->
            </button>
          </div>
        </div>
         <div class="col-lg-5 text-center">
          <div class="about-img-box mt-4 mt-lg-0 mx-auto">
            <img src="/imgs/mainHeroImg-noBg.png" alt="Bet On Me Logo">
          </div>
        </div>
      </div>
    </div>
    <section class="about-section">

      <!-- ================================ -->
      <!--   WHAT IS BET ON ME? SECTION     -->
      <!-- ================================ -->
      <div id="about-section" class="row p-4 p-lg-5 align-items-center about-app">

          <div class="col-lg-5 text-center">
          <div class="about-logo-box mt-4 mt-lg-0 mx-auto">
            <img src="/imgs/logo.png" alt="Bet On Me Logo">
          </div>
        </div>

        <div class="col-lg-7">
          <h1 class="display-4 fw-bold mb-4">What is Bet On Me?</h1>

          <p class="lead mb-4">
            <strong>A habit-building accountability app that turns your goals into real
              commitments.</strong>
          </p>

          <p class="lead mb-4">
            Each member’s progress is visible, making the process social and motivating.
            With friendly competition and real money on the line, Bet On Me gives you the push you’ve
            been missing!
          </p>

        </div>

      


      </div>


      <!-- ================================ -->
      <!--          FEATURE CARDS           -->
      <!-- ================================ -->
      <div class="row row-cols-1 row-cols-md-3 g-4 main-cards">

        <!-- CARD 1 -->
        <div class="col">
          <div class="card h-100">
            <div class="card-body card-content">
              <div class="d-inline-flex align-items-center justify-content-center rounded-number">
                <span class="fw-bold fs-4">1</span>
              </div>
              <h4 class="card-title fw-bold mb-3">Join or create groups</h4>
              <p class="card-text">
                Join an existing group with a code or create your own with a maximum of 8 users to stay accountable together.
              </p>
            </div>
          </div>
        </div>

        <!-- CARD 2 -->
        <div class="col">
          <div class="card h-100">
            <div class="card-body  card-content">
              <div class="d-inline-flex align-items-center justify-content-center rounded-number">
                <span class="fw-bold fs-4">2</span>
              </div>
              <h4 class="card-title fw-bold mb-3">Bet on your goals</h4>
              <p class="card-text">
                Choose a goal, place your wager, and keep your money by following through.
              </p>
            </div>

          </div>
        </div>

        <!-- CARD 3 -->
        <div class="col">
          <div class="card h-100">
            <div class="card-body card-content pb-4">
              <div class="d-inline-flex align-items-center justify-content-center rounded-number">
                <span class="fw-bold fs-4">3</span>
              </div>
              <h4 class="card-title fw-bold mb-3">Track progress together</h4>
              <p class="card-text">
                Check off tasks, grow the money jar, and stay motivated through friendly competition.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>

  <%- include('partials/footer') -%>


    <!-- Load modals back to screen to show validation errors -->
    <script>
  <% if (locals.messages && locals.messages.modal) { %>
        setTimeout(() => {
          new bootstrap.Modal(document.getElementById('<%= locals.messages.modal[0] %>Modal')).show();
        }, 100);
  <% } %>
    </script>