:root {
    --color-golden-brown: rgb(187, 161, 117);
    --color-pale-yellow: rgb(252, 237, 194);
    --color-faded-yellow: rgb(153, 150, 143);
    --color-light-coral: rgb(235, 153, 121);
    --color-vibrant-coral: rgb(250, 137, 92);
    --bg-dark-brown: rgb(51, 49, 49);
    --bg-dark-gray: rgb(30, 30, 30);
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
.custom-header{
  background-color: var(--color-golden-brown);
  border-bottom: solid 4px black;
}
.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}
.text-end{
  float: right;
}
.login{
  color: white;
  text-decoration: none;
}
.signup{
  color: black;
  text-decoration: none;
}

a.login:hover {
  color: black; 
}
