/* ===================================== */
/* COLOR PALETTE                         */
/* ===================================== */

:root {
  --color-black: rgb(60, 51, 77);
  --color-white: rgb(235, 232, 232);
  --color-yellow: rgb(255, 205, 26);
  --color-foam-green: rgb(174, 223, 194);
  --color-sky-blue: rgb(182, 215, 284);
}

/* ===================================== */
/* GENERAL STYLES                        */
/* ===================================== */

.my-5 {
  background-color: var(--bg-dark-brown);
}

.lead {
  color: var(--color-pale-yellow);
}

.color-match {
  color: var(--color-turqoise-blue);
}

/* ===================================== */
/* BUTTONS                               */
/* ===================================== */

.join-btn,
.join-btn:hover {
  color: black !important;
  text-decoration: none !important;
}

.gold-btn {
  border-color: var(--color-vibrant-gold) !important;
  color: var(--color-vibrant-gold) !important;
}

.gold-btn:hover {
  background-color: var(--color-vibrant-gold) !important;
  border-color: var(--color-vibrant-gold) !important;
  color: white !important;
}

/* ===================================== */
/* HERO IMAGE                            */
/* ===================================== */

.gold-border {
  border: solid var(--color-vibrant-gold) 2px;
}

.hero-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===================================== */
/* ABOUT SECTION                         */
/* ===================================== */
.about-section {
  width: 100%;
  padding: 0;
}

.about-section .row {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.6rem;
}

.about-section .about-app {
  width: 100%;
}

.about-section h1 {
  padding-top: 20px;
  color: var(--color-black);
}

.about-logo-box {
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  /* Responsive sizing */
  width: 100%;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  aspect-ratio: 520 / 355;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;
}

.about-img-box {
  /* border: 1px solid var(--color-black); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-bottom: 2rem;
}

.about-img-box img {
  width: 100%;

}

.about-logo-box img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  border: none;
}

/* ===================================== */
/* FEATURE CARDS                         */
/* ===================================== */

.feature-card {
  background-color: var(--bg-dark-brown);
  border: 2px solid var(--color-vibrant-gold);
}

.feature-card-image {
  background-color: var(--bg-dark-gray);
  border-top: 2px solid var(--color-vibrant-gold);
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-card:hover {
  transform: translateY(-4px);
  transition: 0.3s ease;
  box-shadow: 0 0 15px var(--color-vibrant-gold);
}

/* ===================================== */
/* RESPONSIVE FIXES                      */
/* ===================================== */

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: .3rem;
  }
}

@media screen and (max-width: 400px) {
  .about-logo-box {
    height: 250px;
    width: 250px;
  }
}