/* Keep :root and * at the top */

:root { 
    --color-golden-brown: rgb(187, 161, 117);
    --color-pale-yellow: rgb(252, 237, 194);
    --color-faded-yellow: rgb(153, 150, 143);
    --color-light-coral: rgb(235, 153, 121);
    --color-vibrant-coral: rgb(250, 137, 92);
    --bg-dark-brown: rgb(51, 49, 49);
    --bg-dark-gray: rgb(30, 30, 30);
    --color-mustard: rgb(255, 193, 7);
}

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* This is connected to JS and controls the toggle on/off of the clock
  @author: Justin Jimenez
  */

#wholeClock {
    display: none;
}

/* This is connected to JS and controls the toggle on/off of the button for users to join the challenge */

#joinChallenge {
    display: none;
}

/* login and sign up modals START */

.login-modal {
    background-color: var(--bg-dark-brown);
    color: var(--color-pale-yellow);
    border-radius: 1rem;
}

.login-modal button[type="submit"] {
    background-color: var(--color-light-coral);
    color: var(--bg-dark-gray);
    font-weight: 500;
    font-size: 1.3rem;
    border: none;
}

.login-modal button:hover {
    background-color: var(--color-vibrant-coral);
    color: var(--bg-dark-brown)
}

.login-modal a {
    color: var(--color-light-coral);
}

.login-modal h5 {
    font-size: 0;
    padding: .5rem;
}

.login-modal a:hover {
    color: var(--color-vibrant-coral);
}


.login-modal input {
    background-color: var(--color-pale-yellow);
}

.login-modal input:focus,
.home-container input:focus {
    background-color: var(--color-pale-yellow);
    border-color: var(--color-light-coral);
    border-width: .1rem;
}

.login-modal .form-text {
    color: var(--color-faded-yellow);
}

/* login and sign up modals END */

/* Home page START */

.home-container {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-dark-gray);
}

.home-container .home-header {
    flex: 1;
}

.home-container .home-body {
    flex: 1;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-header h1 {
    text-align: center;
    color: var(--color-pale-yellow);
    font-size: 3.5rem;
    font-weight: bold;
}

.home-header p {
    text-align: center;
    color: var(--color-pale-yellow);
    margin: 0;
}

.home-body {
    display: flex;
    gap: 2rem;
    padding: .5rem;
    justify-content: center;
}

.home-body section {
    border-radius: 2rem;
    flex: 1;
    padding: .5rem;
    margin: 2rem 0;
    background-color: var(--color-golden-brown);
    max-width: 500px;
    border: 1px solid rgb(241, 239, 227);
}

.home-body section input {
    max-width: 20rem;
    background-color: var(--color-pale-yellow);
}

.home-body .create,
.home-body .join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 292px;
    min-width: 405px;
}

.home-body button {
    font-size: 1.4rem;
    background-color: var(--color-mustard);
    color: var(--bg-dark-gray);
    border-color: var(--bg-dark-gray);
}

.home-body button:hover {
    background-color: var(--color-pale-yellow);
    color: var(--bg-dark-gray);
}

.home-body section {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-body section:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1000px) {
    .home-container {
        padding: 2rem 0;
        padding-bottom: 10rem;
    }

    .home-header {
        padding: 0 2rem;
    }

    .home-body {
        flex-direction: column;
        align-items: center;
        gap: .3rem;
    }

    .home-body section {
        margin-bottom: 0;
    }
}

/* Home page END */