:root {
    --color-golden-brown: rgb(158, 145, 106);
    --color-pale-yellow: rgb(252, 237, 194);
    --color-faded-yellow: rgb(153, 150, 143);
    --color-light-coral: rgb(235, 153, 121);
    --color-vibrant-coral: rgb(250, 137, 92);
    --bg-dark-brown: rgb(63, 46, 34);
    --bg-dark-gray: rgb(30, 30, 30);
    --color-mustard: rgb(255, 193, 7);
    --color-blue: rgb(33, 112, 94);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-goal-container {
    background: var(--bg-dark-brown);
}

.page-container {
    display: grid;
    grid-template-columns: 280px 1fr 1fr;
    align-items: start;
    align-content: start;
    min-height: 73vh;
    width: 90%;
    margin: auto;
    padding-bottom: 4rem;
}



/* ----------------------------------------------------
   User Goal & Steps (Start)
---------------------------------------------------- */

/* Profile Section */
.profile-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 400px;
}


.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f4d4a8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #333;
    line-height: 1.4;
    border: 2px solid var(--bg-dark-gray);
    margin-bottom: 30px;
}

.profile-pic:hover {
    transform: scale(1.3);
}

.user-name {
    font-size: 1.8rem;
    color: var(--color-pale-yellow);
    padding: .6rem;
    margin: 1rem 0;
    font-weight: 400;
    text-align: center;
}

.goal-label {
    font-size: 2.6rem;
    color: var(--color-pale-yellow);
    margin-bottom: 20px;
    text-align: center;
}

.big-thing {
    display: flex;
    align-items: center;
    /* background-color: #f4d4a8; */
    border-radius: 30px;
    padding: 8px 15px;
    width: 100%;
    max-width: 450px;
}

.big-thing input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 20px;
    font-style: italic;
    color: #333;
    padding: 8px 10px;
    outline: none;
}

.big-thing input::placeholder {
    color: #666;
}

.place-wager-container {
    border: 2px solid var(--color-golden-brown);
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 52, 51);
}

.place-wager-container h4 {
    border-top: 2px solid var(--color-golden-brown);
    width: 90%;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    color: var(--color-pale-yellow)
}

#wager-amount {
    padding: .5rem;
    width: 120px;
    border-radius: 6px;
    font-size: 1.2rem;
    border: none;
    background-color: var(--color-pale-yellow);
}

.edit-btn,
.add-btn,
.delete-btn {
    background-color: #f7bf8d;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    transition: background-color 0.2s;
}

.add-btn {
    background-color: goldenrod;
}

.edit-btn:hover,
.add-btn:hover,
.delete-btn:hover {
    background-color: #e89450;
}

h4 {
    color: white;
    margin: 5% 0;
}

.user-money {
    color: yellow;
    background: green;
    border: 1px solid green;
    width: 70px;
    height: 22px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Steps Section */
#hide-task {
    display: none;
}

.sub-container {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    margin: 2.5rem 0;
    flex: 2;
}

.sub-container.one {
    flex: 1.2;
}


.user-step {
    /* width: 100%; */
    max-width: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    border-radius: 2rem;
    /* box-shadow: 0 0 100px rgba(0, 0, 0, 0.5); */
    border: 2px solid var(--color-golden-brown);
    /* backdrop-filter: blur(10px); */
    background-color: rgb(53, 52, 51);
    ;
}

.user-step h1 {
    font-size: 2rem;
}

.user-step p {
    font-size: 2.3rem;
    color: #c9adb8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a.btn.btn-default {
    margin: 1%;
    color: #897367;
}

.input-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.input-area input {
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    font-style: normal;
    border: none;
    outline: none;
    border-radius: 6px;
    background: var(--color-pale-yellow);
}

/* .input-area input::placeholder {
    color: pink;
} */

.input-area button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-left: 10px;
    border-radius: 50%;
    color: white;
    font-size: 1.1rem;
    background: rgba(225, 194, 209, 0.3);
    border: 2px solid rgba(255, 255, 255, .18);
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-area button:hover {
    transform: scale(1.1);
    background: #ff6f91;
}

.input-area button:disabled {
    transform: unset;
    background: grey;
    cursor: not-allowed;
}

.user-steps {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-list {
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
}

#task-list li {
    display: flex;
    align-items: center;
    background: var(--color-golden-brown);
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    position: relative;
    transition: box-shadow 0.2s ease;
    color: var(--bg-dark-gray);
}

#task-list li:hover {
    /* box-shadow: 0 0 10px (0, 0, 0, 0.1); */
    background-color: var(--color-vibrant-coral);
    border-color: var(--bg-dark-brown);
    color: var(--bg-dark-gray);
}

#task-list li .checkbox {
    height: 20px;
    min-width: 20px;
    appearance: none;
    background: var(--color-pale-yellow);
    border: 2px solid rgba(225, 225, 225, 0.3);
    border: 1px solid var(--bg-dark-gray);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

#task-list li .checkbox:checked {
    background-color: rgb(41, 188, 186);
    transform: scale(1.1);
}

#task-list li .checkbox:checked::before {
    content: '\2713';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.strike-through {
    text-decoration: 2px line-through aliceblue;
    color: aliceblue;
    opacity: 0.6;
    font-style: italic;
}

#task-list li span {
    flex: 1;
    margin-left: 10px;
    /* word-wrap: break-word; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-buttons {
    display: flex;
    margin-right: auto;
    gap: 10px;
}

.task-buttons button {
    background: rgba(225, 194, 209, 0.3);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-buttons button:hover {
    transform: scale(1.2);
}

.task-buttons .edit-btn,
.big-thing .edit-btn {
    background: #ffbf00;
    color: var(--bg-dark-gray);
    border: 1px solid var(--bg-dark-brown);
}

.user-step .plus-btn,
.big-thing .plus-btn {
    background-color: var(--color-vibrant-coral);
    color: var(--bg-dark-gray);
}

.task-buttons .delete-btn {
    background: rgb(41, 188, 186);
    color: var(--bg-dark-gray);
    border: 1px solid var(--bg-dark-brown);
}

.edit-task-form {
    display: flex;
    width: 100%;

    span {
        display: flex;
        justify-content: space-between;
    }

    .save-btn {
        background-color: forestgreen;
    }

    .cancel-btn {
        background-color: slategrey;
    }
}

button.d-none,
input.d-none,
span.d-none,
form.d-none {
    display: none;
}

input.task-input {
    align-items: center;
    background: transparent;
    padding: 8px 10px;
    margin: -8px 4px -8px 0;
    border-radius: 30px;
    font-size: 1.2rem;
    position: relative;
    color: #ddd;
    border: none;
}

input.task-input:focus {
    outline: none;
}

.goal-completed {
    /* width: 180px;
    height: 40px; */
    background-color: rgb(41, 188, 186);
}

.goal-completed:hover {
    cursor: pointer;
    background-color: transparent;
    border-color: rgb(41, 188, 186);
}


@media screen and (max-width: 1045px) {
    .page-container {
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    .page-container .steps {
        grid-row: 1/2;
        grid-column: 2/3;
        align-items: flex-start;
    }

    .page-container .one {
        align-items: flex-start;
        align-items: flex-start;
    }

    .page-container .goal {
        position: absolute;
        bottom: -361px;
        left: -197px;
    }
}

@media screen and (max-width: 845px) {
    .page-container {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .page-container .one {
        margin-bottom: 0;
    }

    .page-container .goal {
        position: static;
        margin-top: 0;

    }

    .page-container .steps {
        grid-row: 3/4;
        grid-column: 1/2;
    }
}

@media screen and (max-width: 380px) {
    .place-wager-container {
        width: 350px;
        margin: auto;
    }

    .input-area input {
        width: 50%;
    }
}

.goal-completed:disabled {
    background: grey;
    cursor: not-allowed;
}

/* ----------------------------------------------------
   User Goal & Steps (End)
---------------------------------------------------- */