<div class="error-page">
  <pre>
<%= figlet.textSync("404", { horizontalLayout: "default" }) %>
  </pre>

  <pre>
<%= figlet.textSync(message, { horizontalLayout: "default" }) %>
  </pre>

  <a href="/home">Back to Join Group</a>
</div>
