<%- include('../partials/header') -%>
<div class="error-page">
  <pre>
<%= figlet.textSync("404", { horizontalLayout: "default" }) %>
  </pre>

  <pre>
<%= figlet.textSync(message, { horizontalLayout: "default" }) %>
  </pre>

  <button class="btn btn-warning btn-hover"
    onclick="history.back()">
    Go Back
  </button>
</div>
<%- include('../partials/footer') -%>
